<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .persons tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .persons td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Books:</h3>
<a href="edit.html" th:href="@{/create} ">
    <img src="add-book.png" width="2%" height="2%" id="dagger"/></a>


<table border="2" class="books">
    <thead>
    <tr>
        <th bgcolor="red">ID</th>
        <th bgcolor="red">Name</th>
        <th bgcolor="red">Author</th>
        <th bgcolor="red">Genre</th>
        <th bgcolor="red">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author?.name}"></td>
        <td th:text="${book.genre?.name}"></td>
        <td>
            <button type="submit"><a href="edit.html" th:href="@{/edit(id=${book.getId()})}">
                <img src="modify-book.png" width="32" height="32"/>
            </button>


            <form id="edit-form" action="list.html" th:method="post" th:action="@{/delete(id=${book.id})}"
                  th:object="${book}">
                <div class="row">
                    <button type="submit"><img src="delete-book.jpg" width="32" height="32" alt=""/></button>
                </div>
            </form>


        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
