<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- book edition -->
<form id="edit-form" action="create.html" th:method="post" th:action="@{/create}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text" value="Some Name"/>
    </div>


    <div class="row">
        <label for="author">Authors:</label>
        <select id="author" name="author">
            <option th:each=" optionAuthor : ${authors}" th:value="${optionAuthor.id}"
                    th:text="${optionAuthor.name}"
                    th:selected="${book != null ? book.author.id == optionAuthor.id : false}">Author
            </option>
        </select>
    </div>


    <div class="row">
        <label for="genre">Genre:</label>
        <select id="genre" name="genre">
            <option th:each="optionGenre : ${genres}" th:value="${optionGenre.id}" th:text="${optionGenre.name}"
                    th:selected="${book != null ? book.genre.id == optionGenre.id : false}">Genre
            </option>
        </select>
    </div>

    <div class="row">
        <a href="create.html" th:method="post" th:href="@{/create}">
            <button type="submit">Save</button>
            <a href="list.html" th:href="@{/}">
                <button type="button">Cancel</button>
            </a>

    </div>
</form>

</body>
</html>
