<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book edition -->
<form action="edit.html" id="edit-form" th:action="@{/edit(id=${book.id})}" th:method="post" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" readonly="readonly" th:value="*{id}" type="text" value="1"/>
    </div>
    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" th:value="*{name}" type="text" value="John Doe"/>
        <div class="errors" style="width:200px;background:red" th:errors="*{name}"
             th:if="${#fields.hasErrors('name')}"></div>

    </div>


    <div class="row">
        <label for="author">Authors:</label>
        <select id="author" name="author" th:value="${book.author}">
            <option ) th:each=" optionAuthor : ${authors}"
                    th:text="${optionAuthor.name}" th:value="${optionAuthor.id}"
            >Author
            </option>
        </select>
    </div>


    <div class="row">
        <label for="genre">Genre:</label>
        <select id="genre" name="genre" th:value="${book.genre}">
            <option th:each="optionGenre : ${genres}" th:text="${optionGenre.name}" th:value="${optionGenre.id}"
            >Genre
            </option>
        </select>
    </div>

    <div class="row">
        <a href="edit.html" th:href="@{/edit(id=${book.id})}" th:method="post">
            <button type="submit">Save</button>
            <a href="list.html" th:href="@{/}">
                <button type="button">Cancel</button>
            </a>

    </div>
</form>

</body>
</html>
